body
{
  width: 1280px;
  height: 3301px;
  top: -61px;
  
}
.mac-book-air-1 .the-gun-shot-is-ametaverse-game-developed-by-extreme-games-in-this-game-you-will-feel-the-experience-of-being-agun-shot {
    margin-bottom: 39px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .mac-book-air-1 {
    background: #030014;
    display: flex;
    padding: 36px 46px 196px 41px;
    width: 1280px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .enter-avalid-email-address {
    opacity: 0.88;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 25px;
    color: #CCC6C6;
  }
  .mac-book-air-1 .ellipse-3 {
    filter: blur(40px);
    position: absolute;
    top: 1537px;
    right: -250px;
    width: 653px;
    height: 652px;
  }
  .mac-book-air-1 .ellipse-4 {
    filter: blur(40px);
    position: absolute;
    left: -326px;
    top: 2007px;
    width: 653px;
    height: 652px;
  }
  .mac-book-air-1 .comment {
    opacity: 0.88;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 25px;
    color: #CCC6C6;
  }
  .mac-book-air-1 .contact {
    margin: 0 0 12.5px 25px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .enter-your-name {
    opacity: 0.88;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 25px;
    color: #CCC6C6;
    width: 677px;
    height: 625px;
    top: 2480px;
    left: 301px;
    border: 1px 0px 0px 0px;
  }
  
  .mac-book-air-1 .games {
    margin: 0 0 41.5px 32px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .home {
    margin-right: 13px;
    width: 55px;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .mac-book-air-1 .about {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .mac-book-air-1 .games-1 {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .mac-book-air-1 .contact-1 {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .mac-book-air-1 .frame-2 {
    position: relative;
    margin: 9px 0 13px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 416px;
    height: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .ellipse-1 {
    filter: blur(40px);
    position: absolute;
    left: -314px;
    top: 71px;
    width: 653px;
    height: 652px;
  }
  .mac-book-air-1 .gun {
    margin-right: 170.5px;
    overflow-wrap: break-word;
    font-family: 'Keania One';
    font-weight: 400;
    font-size: 141px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .shot {
    overflow-wrap: break-word;
    font-family: 'Keania One';
    font-weight: 400;
    font-size: 141px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .frame-1 {
    margin: 0 0 266px 91.8px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container {
    margin: 0 0 262px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1179px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-1 {
    border: 1px solid #FFFFFF;
    position: relative;
    margin: 0 2px 23px 0;
    padding: 12px 36px 11px 36px;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-2 {
    display: flex;
    flex-direction: row;
    width: 949px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-3 {
    border: 1px solid #FFFFFF;
    position: relative;
    margin: 0 0 23px 2px;
    padding: 12px 27px 11px 27px;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container0 {
    background: url('./images/image.jpeg') 50% / cover no-repeat;
    margin: 3px 45px 0 0;
    width: 304px;
    height: 526px;
  }
  .mac-book-air-1 .container1 {
    background: url('./images/image_1.jpeg') 50% / cover no-repeat;
    margin-bottom: 31px;
    width: 284px;
    height: 204px;mn
  }
  .mac-book-air-1 .container2 {
    background: url('./images/image_3.jpeg') 50% / cover no-repeat;
    width: 284px;
    height: 274px;
  }
  .mac-book-air-1 .container3 {
    background: url('./images/image_2.jpeg') 50% / cover no-repeat;
    width: 277px;
    height: 525px;
  }
  .mac-book-air-1 .container-4 {
    margin: 113px 30.2px 2px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-5 {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    left: 55px;dn
  }
  .mac-book-air-1 .container-6 {
    margin: 6px 39px 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .rectangle-3 {
    background: url('./images/rectangle_3.png') 50% / cover no-repeat;
    position: absolute;
    left: 640px;
    top: 0px;
    translate: -50% 0;
    width: 395px;
    height: 816px;
    
  }
  .mac-book-air-1 .ellipse-11 {
    filter: blur(40px);
    position: absolute;
    top: 348px;
    right: -286px;
    width: 653px;
    height: 652px;
  }
  .mac-book-air-1 .the-gun-shot-is-ametaverse-game-developed-by-extreme-games-in-this-game-you-will-feel-the-experience-of-being-agun-shot-1 {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    width: 468px;
    height: 78px;
    top: 530px;
    left: 55px;
    gap: 0px;
    opacity: 0px;

  }
  .mac-book-air-1 .get-access {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .vacancies {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 22px;
    color: #792CD4;
  }
  .mac-book-air-1 .black-old-game-controller-front-view {
    background: url('./images/black_old_game_controller_front_view.png') 50% / contain no-repeat;
    margin-bottom: 3px;
    width: 80px;
    height: 45px;
  }
  .mac-book-air-1 .gun-shot {
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Keania One';
    font-weight: 400;
    font-size: 51px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .completed {
    margin-right: 3.6px;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.62);
  }
  .mac-book-air-1 .container-4 {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .frame-4 {
    margin-left: 3.6px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-7 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .ellipse-2 {
    filter: blur(20px);
    position: absolute;
    left: -274px;
    top: 1113px;
    width: 653px;
    height: 652px;
  }
  .mac-book-air-1 .ellipse-12 {
    filter: blur(40px);
    position: absolute;
    top: 988px;
    right: -90px;
    width: 730px;
    height: 729px;
  }
  .mac-book-air-1 .play {
    position: absolute;
    left: 1px;
    top: 0px;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .gun-shot-1 {
    position: relative;
    margin: 0 1px 47px 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .play-based-on-extreme-gx {
    margin: 0 1px 25px 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 44px;
    color: rgba(255, 255, 255, 0.95);
  }
  .mac-book-air-1 .rectangle-5 {
    background: url('./images/rectangle_5.jpeg') 50% / cover no-repeat;
    margin-right: 37px;
    width: 295px;
    height: 499px;
  }
  .mac-book-air-1 .rectangle-6 {
    background: url('./images/rectangle_6.jpeg') 50% / cover no-repeat;
    width: 295px;
    height: 499px;
  }
  .mac-book-air-1 .group-1 {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .group-2 {
    margin: 0 0 164.5px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 949px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .group-21 {
    margin-bottom: 4px;
    display: flex;
    width: 277px;
    height: 525px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .group-3 {
    position: relative;
    margin: 0 26px 154.5px 30px;
    display: flex;
    box-sizing: border-box;
  }
  .mac-book-air-1 .group-5 {
    backdrop-filter: blur(35px);
    background: linear-gradient(90deg, rgba(140, 0, 153, 0), #6424B9);
    position: absolute;
    right: 300px;
    margin: 19px 0 23px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px 0;
    width: 386px;
    height: fit-content;
    box-sizing: border-box;
    height: 125px;
    top: 460px;
    left: 848px;
    gap: 0px;
    opacity: 0px;

  }
  .mac-book-air-1 .frame-6 {
    background: #792CD4;
    margin: 1px 30px 1px 0;
    display: flex;
    padding: 10px 19px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .frame-7 {
    border: 1px solid #792CD4;
    display: flex;
    padding: 10px 18.3px 10px 18px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .frame-8 {
    background: #792CD4;
    display: flex;
    padding: 10px 19.2px 10px 19px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .register {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .frame-9 {
    background: #792CD4;
    margin: 0 5px 0 4px;
    display: flex;
    padding: 10px 0.5px 10px 0;
    width: 668px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .submit {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
  }
  .mac-book-air-1 .container-8 {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-9 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1193px;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-10 {
    border: 1px solid #FFFFFF;
    position: relative;
    margin: 0 2px 36px 0;
    padding: 21px 29px 208px 29px;
    width: fit-content;
    box-sizing: border-box;
  }
  .mac-book-air-1 .container-11 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .footer {
    background: #792CD4;
    display: flex;
    padding: 15px 23.2px 15px 0;
    width: 1280px;
    text-align: center;
    box-sizing: border-box;
  }
  .footer .copyright-2024-gun-shot {
    overflow-wrap: break-word;
    font-family: var(--title-16-px-regular-font-family, 'Poppins');
    font-weight: var(--title-16-px-regular-font-weight, 400);
    font-size: var(--title-16-px-regular-font-size, 16px);
    line-height: var(--title-16-px-regular-line-height, 1.5);
    color: #FFFFFF;
  }